:root {
  --branding-color: #f1853e;
  --main-font: "Montserrat", sans-serif;
  --second-font: "Edu NSW ACT Foundation", cursive;
}

.image-logo {
  width: 10%;
  margin: 0 20px;
}

.container-fluid {
  padding: 0 40px !important;
}

.about-main-container {
  margin: 100px!important;
}

.about-text-main {
  padding-left: 50px!important;
  padding-right: 70px !important;
}

header.first-block {
  text-align: center;
  font-family: var(--main-font);
  background-color: rgba(241, 133, 62, 0.18);
  padding: 170px 30px;
  line-height: 36px;
}

.small-greating {
  font-weight: bold;
  font-size: 36px;
  margin: 0;
}

.main-greating {
  font-weight: bold;
  font-size: 96px;
  font-family: var(--second-font);
  margin-bottom: 34px;
}

.additional-greating {
  font-weight: normal;
  font-size: 24px;
  color: #272142;
  margin-bottom: 49px;
}
@media (max-width: 576px) {
  .main-greating {
    font-size: 65px;
  }
  .additional-greating {
    font-size: 20px;
  }

  .small-greating {
    font-size: 27px;
  }
}
@media (max-width: 930px) {
  .text-project-middle {
    order: 2;
  }

  .text-project {
    padding: 25px 20px 50px 20px !important;
  }
  .container {
    text-align: center;
  }

  .row-change {
    padding-right: 0 !important;
  }
}
.btn-branding {
  background-color: var(--branding-color) !important;
  border-radius: 4px;
  color: #fff !important;
  padding: 18px 30px !important;
  box-shadow: 0.5px 0.5px 10px #e08d18;
}

.btn-branding:hover {
  background-color: #fff !important;
  color: var(--branding-color) !important;
  box-shadow: 0 0 0 2px #f1853e;
}

main.projects-to-inspect {
  font-family: var(--main-font);
}

.text-project {
  padding: 130px 60px;
}

.project-example-explanation {
  line-height: 30px;
  margin: 20px 0;
}

.button-progects {
  border-color: var(--branding-color) !important;
  color: var(--branding-color) !important;
}
.button-progects:hover {
  background-color: var(--branding-color) !important;
  color: #fff !important;
}

.project-image {
  border: 30px solid rgba(241, 133, 62, 0.18);
}

.row-change {
  margin: 0 auto !important;
}

footer .container {
  background: rgba(241, 133, 62, 0.18);
  height: 100px;
  width: 1160px;
  border-radius: 20px;
  /* position: relative; */
}

footer .row {
 
position: relative;
  top: 50%;
  left: 15%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

  /* position: absolute;
  /* top: 50%;

-ms-transform: translateY(-50%);
  transform: translateY(-50%); */
}
